input.text, textarea.textarea, input.submit
{
    font-size: 1.2em;
}

input.text, textarea.textarea
{
    width:600px;
}

input.text
{
    height:40px;
}

textarea.textarea
{
    height:200px;
}

#errors
{
    color:red;
}