/* line 1, ../../stylesheets/partials/_syntax.sass */
.code_window {
  background: #aaa url('/images/code_bg.png?1268661749') top repeat-x;
  position: relative;
  margin: .3em 0 1.3em;
  padding: 0 3px 3px;
  font-size: 14px;
  border: 1px solid #898989;
  border-top-color: #cbcbcb;
  border-left-color: #a5a5a5;
  border-right-color: #a5a5a5;
}
/* line 13, ../../stylesheets/partials/_syntax.sass */
.code_window em {
  text-align: center;
  text-shadow: #cccccc 1px 1px 1px;
  display: block;
  padding: 1px 0;
  color: #333;
  font-style: normal;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, Verdana, sans-serif;
}
/* line 21, ../../stylesheets/partials/_syntax.sass */
.code_window .highlight {
  margin: 0;
}

/* line 24, ../../stylesheets/partials/_syntax.sass */
pre {
  color: #ccc;
  font-size: 13px;
  background: #222;
  line-height: 1.5em;
  border: #aaa 1px solid;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 25px 20px;
}
/* line 33, ../../stylesheets/partials/_syntax.sass */
pre .lineno {
  color: #888;
  background: #e3e3e3;
  display: inline-block;
  padding: 0 0 0 10px;
}
/* line 38, ../../stylesheets/partials/_syntax.sass */
pre .lineno:first-child {
  padding-top: 15px;
  display: inline-block;
}

/* line 42, ../../stylesheets/partials/_syntax.sass */
.highlight {
  position: relative;
}
/* line 44, ../../stylesheets/partials/_syntax.sass */
.highlight .pre_expander {
  font-family: "Menlo", "Bitstream Vera Sans", Monaco, "Andale Mono", "Lucida Console", monospace;
  font-size: 10px;
  text-align: right;
  padding: 4px 8px;
  line-height: 150%;
  position: absolute;
  cursor: pointer;
  top: 2px;
  right: 2px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  display: block;
  color: #777;
  background: #333;
}
/* line 58, ../../stylesheets/partials/_syntax.sass */
.highlight .pre_expander:hover {
  background: #444;
  color: #ccc;
}

/* line 63, ../../stylesheets/partials/_syntax.sass */
.editor {
  background: rgb(0,22,41);
  line-height: 1.25;
}

/* line 67, ../../stylesheets/partials/_syntax.sass */
pre.console {
  background-color: black;
  color: #00ff01;
  letter-spacing: 1px;
  padding: 0.5em;
}
/* line 72, ../../stylesheets/partials/_syntax.sass */
pre.console .prompt {
  color: #8080ff;
}
/* line 74, ../../stylesheets/partials/_syntax.sass */
pre.console .prompt:before {
  color: white;
  content: "[";
}
/* line 77, ../../stylesheets/partials/_syntax.sass */
pre.console .prompt:after {
  color: white;
  content: "]";
}
/* line 80, ../../stylesheets/partials/_syntax.sass */
pre.console .stdin {
  font-weight: bold;
  color: white;
}

/* line 84, ../../stylesheets/partials/_syntax.sass */
.highlight {
  padding: 0 0 0.1em;
  color: white;
}
/* line 88, ../../stylesheets/partials/_syntax.sass */
.highlight .c {
  color: #999988;
  font-style: italic;
}
/* line 92, ../../stylesheets/partials/_syntax.sass */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
/* line 96, ../../stylesheets/partials/_syntax.sass */
.highlight .n {
  color: white;
}
/* line 99, ../../stylesheets/partials/_syntax.sass */
.highlight .k {
  color: rgb(255, 157, 0);
}
/* line 102, ../../stylesheets/partials/_syntax.sass */
.highlight .p {
  color: #573500;
}
/* line 105, ../../stylesheets/partials/_syntax.sass */
.highlight .o {
  color: rgb(255, 157, 0);
}
/* line 108, ../../stylesheets/partials/_syntax.sass */
.highlight .cm {
  color: #999988;
  font-style: italic;
}
/* line 112, ../../stylesheets/partials/_syntax.sass */
.highlight .cp {
  color: #999999;
}
/* line 115, ../../stylesheets/partials/_syntax.sass */
.highlight .c1 {
  color: #999988;
  font-style: italic;
}
/* line 119, ../../stylesheets/partials/_syntax.sass */
.highlight .cs {
  color: #999999;
  font-style: italic;
}
/* line 123, ../../stylesheets/partials/_syntax.sass */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}
/* line 127, ../../stylesheets/partials/_syntax.sass */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa;
}
/* line 131, ../../stylesheets/partials/_syntax.sass */
.highlight .ge {
  font-style: italic;
}
/* line 134, ../../stylesheets/partials/_syntax.sass */
.highlight .gr {
  color: #aa0000;
}
/* line 137, ../../stylesheets/partials/_syntax.sass */
.highlight .gh {
  color: #999999;
}
/* line 140, ../../stylesheets/partials/_syntax.sass */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}
/* line 144, ../../stylesheets/partials/_syntax.sass */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa;
}
/* line 148, ../../stylesheets/partials/_syntax.sass */
.highlight .go {
  color: #888888;
}
/* line 151, ../../stylesheets/partials/_syntax.sass */
.highlight .gp {
  color: #555555;
}
/* line 154, ../../stylesheets/partials/_syntax.sass */
.highlight .gs {
  color: white;
}
/* line 157, ../../stylesheets/partials/_syntax.sass */
.highlight .gu {
  color: #aaaaaa;
}
/* line 160, ../../stylesheets/partials/_syntax.sass */
.highlight .gt {
  color: #aa0000;
}
/* line 163, ../../stylesheets/partials/_syntax.sass */
.highlight .kc {
  color: white;
}
/* line 166, ../../stylesheets/partials/_syntax.sass */
.highlight .kd {
  color: white;
}
/* line 169, ../../stylesheets/partials/_syntax.sass */
.highlight .kp {
  color: white;
}
/* line 172, ../../stylesheets/partials/_syntax.sass */
.highlight .kr {
  color: white;
}
/* line 175, ../../stylesheets/partials/_syntax.sass */
.highlight .kt {
  color: #445588;
}
/* line 178, ../../stylesheets/partials/_syntax.sass */
.highlight .m {
  color: rgb(255, 98, 140);
}
/* line 181, ../../stylesheets/partials/_syntax.sass */
.highlight .s {
  color: #d14;
}
/* line 184, ../../stylesheets/partials/_syntax.sass */
.highlight .na {
  color: #008080;
}
/* line 187, ../../stylesheets/partials/_syntax.sass */
.highlight .nb {
  color: #1aff84;
}
/* line 190, ../../stylesheets/partials/_syntax.sass */
.highlight .nc {
  color: #1aff84;
}
/* line 193, ../../stylesheets/partials/_syntax.sass */
.highlight .no {
  color: rgb(128, 255, 187);
}
/* line 196, ../../stylesheets/partials/_syntax.sass */
.highlight .ni {
  color: #800080;
}
/* line 199, ../../stylesheets/partials/_syntax.sass */
.highlight .ne {
  color: rgb(255,221, 0);
}
/* line 202, ../../stylesheets/partials/_syntax.sass */
.highlight .nf {
  color: rgb(255,221, 0);
}
/* line 205, ../../stylesheets/partials/_syntax.sass */
.highlight .nn {
  color: #555555;
}
/* line 208, ../../stylesheets/partials/_syntax.sass */
.highlight .nt {
  color: white;
}
/* line 211, ../../stylesheets/partials/_syntax.sass */
.highlight .nv {
  color: #008080;
}
/* line 214, ../../stylesheets/partials/_syntax.sass */
.highlight .ow {
  color: white;
}
/* line 217, ../../stylesheets/partials/_syntax.sass */
.highlight .w {
  color: #bbbbbb;
}
/* line 220, ../../stylesheets/partials/_syntax.sass */
.highlight .nl {
  color: rgb(255, 98, 140);
}
/* line 223, ../../stylesheets/partials/_syntax.sass */
.highlight .mf {
  color: rgb(255, 98, 140);
}
/* line 226, ../../stylesheets/partials/_syntax.sass */
.highlight .mh {
  color: rgb(255, 98, 140);
}
/* line 229, ../../stylesheets/partials/_syntax.sass */
.highlight .mi {
  color: rgb(255, 98, 140);
}
/* line 232, ../../stylesheets/partials/_syntax.sass */
.highlight .mo {
  color: rgb(255, 98, 140);
}
/* line 235, ../../stylesheets/partials/_syntax.sass */
.highlight .sb {
  color: rgb(58,217,0);
}
/* line 238, ../../stylesheets/partials/_syntax.sass */
.highlight .sc {
  color: rgb(58,217,0);
}
/* line 241, ../../stylesheets/partials/_syntax.sass */
.highlight .sd {
  color: rgb(58,217,0);
}
/* line 244, ../../stylesheets/partials/_syntax.sass */
.highlight .s2 {
  color: rgb(58,217,0);
}
/* line 247, ../../stylesheets/partials/_syntax.sass */
.highlight .se {
  color: rgb(58,217,0);
}
/* line 250, ../../stylesheets/partials/_syntax.sass */
.highlight .sh {
  color: rgb(58,217,0);
}
/* line 253, ../../stylesheets/partials/_syntax.sass */
.highlight .si {
  color: rgb(158,255,128);
}
/* line 256, ../../stylesheets/partials/_syntax.sass */
.highlight .sx {
  color: rgb(58,217,0);
}
/* line 259, ../../stylesheets/partials/_syntax.sass */
.highlight .sr {
  color: #009926;
}
/* line 262, ../../stylesheets/partials/_syntax.sass */
.highlight .s1 {
  color: rgb(58,217,0);
}
/* line 265, ../../stylesheets/partials/_syntax.sass */
.highlight .ss {
  color: rgb(255, 98, 140);
}
/* line 268, ../../stylesheets/partials/_syntax.sass */
.highlight .bp {
  color: #999999;
}
/* line 271, ../../stylesheets/partials/_syntax.sass */
.highlight .vc {
  color: #008080;
}
/* line 274, ../../stylesheets/partials/_syntax.sass */
.highlight .vg {
  color: #008080;
}
/* line 277, ../../stylesheets/partials/_syntax.sass */
.highlight .vi {
  color: #008080;
}
/* line 280, ../../stylesheets/partials/_syntax.sass */
.highlight .il {
  color: rgb(255, 98, 140);
}