<h3>About</h3> 
  <p> 
    This is the personal site of <a href="/about/">Scott Watermasysk</a>.<br /><br />
    <img src="http://simpable.com/files/media/image/ScottWatermasysk.jpg" border="0" alt="Author Picture" title="Scott and a very pretty little girl" />
    </p> 
    <p> 
Feel free to <a href="mailto:scottwater+blog@gmail.com">drop me a line</a> and if you like what are reading, please consider <a href="http://feeds.simpable.com/simpable">subscribing</a> to my rss feed <a href="http://feeds.simpable.com/simpable"><img src="/files/themes/Simplicity/rss.gif" alt="rss feed" /></a>.
    </p>