---
layout: default
robots: "index,follow"
---

<div class="post">
  <h1>{{page.title}}</h1>
  <div class="entry">
  	{{ content }}
  </div>
  <p class="postmetadata2">
  	Posted on {{ page.date | date: "%b %d, %Y" }} 
  	{% if page.tags.size > 0 %}
  	  and tagged as 
  	  {% for tag in page.tags%}
  	    <a href="/tags#{{tag}}">{{tag}}</a>{%if forloop.last == false%},{%endif%}
  	  {% endfor %}
  	{% endif %}
  </p>
</div>


<div class="pagenavigation2">
  <hr/>
  <div class="previous">
    {% if page.previous %}
      <a href="{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a>
    {% endif %}
  </div>
  <div class="next">
    {% if page.next %}
      <a href="{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a>
    {% endif %}
  </div>
  <div class="clear flat">
  </div>
</div>

<div class="feedback">
  <p>
    If you have any comments or questions about this post, please feel free to <a href="http://scottw.me/ask">ask them on Tumblr</a> or ping me on <a href="http://twitter.com/scottw">ping me on Twitter</a>.
    </p>
</div>